<h2>Edit Existing Scam</h2>
<%= form_tag scam_path(@scam), :method => :put do %>
  <%= label :scam, :title, 'Title', :class => 'col-form-label' %>
  <%= text_field :scam, 'title', :class => 'form-control' %>
  <%= label :scam, :rating, 'Rating', :class => 'col-form-label'  %>
  <%= select :scam, :rating, ['G','PG','PG-13','R','NC-17'], {}, {:class => 'form-control col-1'} %>
  <%= label :scam, :release_date, 'Released On', :class => 'col-form-label'  %>
  <%= date_select :scam, :release_date, {}, :class => 'form-control col-2 d-inline' %>
  <%= label :scam, :director, 'Director', :class => 'col-form-label' %>
  <%= text_field :scam, 'director', :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Update Scam Info', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', scams_path, :class => 'btn btn-secondary' %>
<% end %>
