<!--  This file is app/views/scams/index.html.erb -->
<h2>All Scams</h2>

<% if flash[:alert] %>
  <div><%= flash[:alert] %></div>
<% end %>

<div style="margin-bottom: 24px;">
<%= form_tag scams_path, method: :get, id: 'categories_form' do %>
 Include:
 <% @all_categories.each do |cat| %>
   <div class="form-check  form-check-inline">
     <%= label_tag "categories[#{cat}]", cat, class: 'form-check-label' %>
     <%= check_box_tag "categories[#{cat}]", '1', (@categories_to_show_hash.include?(cat)),
       class: 'form-check-input' %>
   </div>
 <% end %>
 <%= submit_tag 'Refresh', id: 'categories_submit', class: 'btn btn-primary' %>
<% end %>
</div>

<table class="table table-striped col-md-12" id="scams">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>zipcode</th>
      <th>description</th>
    </tr>
  </thead>
  <tbody>
    <% @scams.each do |scam| %>
      <tr>
        <td>
          <%= scam.title %>
        </td>
        <td>
          <%= scam.category %>
        </td>
        <td>
          <%= scam.zipcode %>
        </td>
        <td>
          <%= scam.description %>
        </td>
        <td>
          <%= link_to "Details for #{scam.title}", scam_path(scam), :class => 'a_customize' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if current_user %>
  <%= link_to 'Post new scam', new_scam_path, :class => 'btn btn-primary mg_16' %>
<% end %>

