<h2>Create New Scam</h2>

<%= form_tag scams_path, :class => 'form' do %>
  <%= label :scam, :title, 'Title', :class => 'col-form-label' %>
  <%= text_field :scam, :title, :class => 'form-control' %>
  <%= label :scam, :rating, 'Rating', :class => 'col-form-label'  %>
  <%= select :scam, :rating, ['G','PG','PG-13','R','NC-17'], {}, {:class => 'form-control col-1'} %>
  <%= label :scam, :release_date, 'Released On', :class => 'col-form-label'  %>
  <%= date_select :scam, :release_date, {}, :class => 'form-control col-2 d-inline' %>
  <br/>
  <%= submit_tag 'Save Changes', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', scams_path, :class => 'btn btn-secondary' %>
<% end %>
